@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-page="Schueler/Create"> Schuelerdaten erfassen </a>
    <br/>
    <a asp-page="Schueler/Details" asp-route-id="1">Details für Schüler 1</a> |

</div>
