@page

@model VerwaltungSchuelerdaten.Pages.UploadVideo.IndexModel

@{
  ViewData["Title"] = "Video hochladen";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" value="Video hochladen" />
</form>
